<div class="container">
  <div class="header__title">
    <div class="row">
      <div class="col-xs-6">
        <h1>
          Managing contacts
          <br />
          <span class="highlight">made easy</span>
        </h1>
        <h4>A simple contact manager for a simple life.</h4>
        
      </div>
      <div class="col-xs-6 offset-md-2 header-hover">
        <img
          src="../../assets/img/contactmanager.png"
          class="header__img"
          alt="svg image"
        />
      </div>
    </div>
  </div>

  <hr />
</div>
